<fieldset>
  <legend>This is fieldset legend</legend>

  <form (ngSubmit)="onSubmit(inputTitle.value, inputText.value)" #form>
    <app-control label="Title" for="title">
      <input type="" name="title" id="title" value="" #inputTitle />
    </app-control>
    <!-- <p class="control">
      <label for="title">Title</label>
      <input type="" name="title" id="title" value="" />
    </p> -->
    <app-control label="Request" for="request">
      <textarea
        type="text"
        name="request"
        rows="3"
        value=""
        id="request"
        #inputText
      ></textarea>
    </app-control>

    <p class="control">
      <button type="submit" appButton>
        submit <span class="icon"> ‣ </span>
      </button>
    </p>
  </form>
</fieldset>
